<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <title>Pok&eacute;mon Search</title>
  <script src="/assets/example1bundle.js"></script>
</head>

<body>
  <h1>Pok&eacute;mon Search</h1>

  <div id="app">

  </div>
</body>

</html>